.mainwrapper{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.messagebox{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: #BDD436;
  border-radius: 4px;
  font-size: 0.8em;
}


.menubar{
  display: flex;
  width: 85%;
  height: 10vh;

  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.woticon{
  height: 36px;
  width: 36px;
  background: url('./img/wot-mark.svg');
  background-size: cover;
}

.menuicon{
  color: #6A787C;
}

.header{
  position: relative;
}

.navcontainer{
  display: none;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 40vh;
  position: absolute;
  background-color: white;
}

.active{
  display: flex;
  box-sizing: border-box;
  padding-left: 30px;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.herocontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  height: 40vh;

  background: url('./img/wot-masthead-dark.jpg');
  background-size: cover;
}

.title{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.maintitle{
  font-size: 1.3rem;
  font-weight: 100;

}

.workshop{
  display: block;
  font-size: 18vw;
  line-height: 1.2;
}

.subtitlecontainer{
  display: flex;
  justify-content: center;
}

.subtitle{
  font-size: 1.2rem;
  text-align:center;
}

.block{
  display: block;
}
.orangetext{
  color: #FF803A;
}
.greentext{
  color: #BDD436;
}

.powderblue{
  color: #97A2A7;
}

.whitetext{
  color: white;
}

.bold{
  font-weight: bold;
}
.spacing{
  letter-spacing: 1px;
}


.whitebox{
  display: inline-block;
  background-color: white;
  height: 9px;
  width: 10%;
}

.button{
  display: inline-block;
  margin: 0 auto;
  background-color: #BDD436;
  height: 48px;
  width: 90%;
  max-width: 360px;
  border-radius: 25px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 18px;
}

.smokebg{
  background-color: #F0F0F0;
}

.whitebg{
  background-color: white;
}

.introcontainer{
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.introcontainer>p{
  width: 90%;
  text-align: justify;
  font-size: 1.2rem;
}

.graytext{
  color: #6A787C;
}

.bodytitle{
  font-size: 2.5rem;
}

.learncontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reasoncontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.reasontext{
  width: 90%;
  text-align: justify;
  max-width: 425px;
}

.servicetitle, .answertext, .calltext{
  font-size: 1.3rem;
  text-align: center;
}

.arrowbox{
  display: flex;

  height: 70px;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.arrowbox .arrowtext{
  font-size: 0.9rem;
}

.iconbox, .bigtext{
  font-size: 2rem !important;
}

.questioncontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.servicecontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: space-around;
}

.service{
  flex-grow: 1;
  max-width: 90%;
  margin-top: 20px;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px 0px 30px 0px;
}

.bluetext{
  color: #40666D;
}

.contactcontainer{
  display: flex;

  height: 90px;

  justify-content: center;
  align-items: center;

}

.worktitle{
  height: 150px;
  box-sizing: border-box;
  padding-top: 40px;
  text-align: center;
}

.workphotocontainer{
  display: flex;
  flex-wrap: wrap;
}

.imgcontainer{
  font-size: 0;
  flex-shrink: 1;
  max-width: 768px;
}

.workphoto{
  width: 100%;
}

.emailcontainer{
  display: flex;
  flex-direction: column;
  height: 244px;
  justify-content: space-around;
  align-items: center;
  /*align-items: center;*/
}

.calluscontainer{
  width: 90%;
}

.greenline{
  margin-top: 20px;
  background-color: #BDD436;
  height: 4px;
  width: 47px;
}

.bluebg{
  background-color: #40666D;
}

.copyrightcontainer{
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
