.mainwrapper{

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a{
  text-decoration: none;
}


li>a{
    color: #6A787C;
}


.messagebox{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: #BDD436;
  border-radius: 4px;
  font-size: 0.8em;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.menubar{
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.woticon{
  height: 36px;
  width: 36px;
  background: url('./img/wot-mark.svg');
  background-size: cover;
}

.menuicon{
  color: #6A787C;
}

.header{
  position: fixed;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  --header-height: 50px;

  height: var(--header-height);
}

.navcontainer{
  position: absolute;
  top: var(--header-height);
  display: flex;
  width: 100%;
  height: 45vh;
  box-sizing: border-box;
  padding-left: 30px;

  font-family: 'Lato', sans-serif;
  background-color: white;

  flex-direction: column;
  align-items: left;
  justify-content: space-around;

}

.active{
  display: flex;
  box-sizing: border-box;
  padding-left: 30px;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.herocontainer{
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  align-content: space-around;
  background: url('./img/wot-masthead-dark.jpg');
  background-size: cover;
}


.hero-content-wrapper{
  width: 100%;
  margin-top: 50px;
}

.title{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.maintitle{
  font-size: 1.3rem;
  font-weight: 100;

}

.workshop{
  display: block;
  font-size: 10vh;
  line-height: 1;
}

.subtitlecontainer{
  display: flex;
  justify-content: center;
}

.subtitle{
  font-size: 1.2rem;
  text-align:center;
}

.block{
  display: block;
}
.orangetext{
  color: #FF803A;
}
.greentext{
  color: #BDD436;
}

.powderblue{
  color: #97A2A7;
}

.whitetext{
  color: white;
}

.bold{
  font-weight: bold;
}
.spacing{
  letter-spacing: 1px;
}


.whitebox{
  display: inline-block;
  background-color: white;
  height: 9px;
  width: 10%;
}

.button{
  display: inline-block;
  background-color: #BDD436;
  height: 48px;
  width: 90%;
  max-width: 360px;
  border-radius: 25px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 18px;
}

.smokebg{
  background-color: #F0F0F0;
}

.whitebg{
  background-color: white !important;
}

.introcontainer{
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.introcontainer>p{
  margin-top: 5px;
  width: 90%;
  max-width: 900px;
  text-align: justify;
  font-size: 1.05rem;
}

.graytext{
  color: #6A787C;
}

.bodytitle{
  font-size: 2.5rem;
}

.learncontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.reasoncontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.reasontext{
  width: 90%;
  text-align: justify;
  max-width: 425px;
}

.servicetitle, .answertext, .calltext{
  font-size: 1.3rem;
  text-align: center;
}

.arrowbox{
  display: flex;

  height: 70px;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.arrowbox .arrowtext{
  font-size: 0.9rem;
}

.iconbox, .bigtext{
  font-size: 2rem !important;
}

.questioncontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.servicecontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicecolumn{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.service{
  display: inline-block;
  box-sizing: border-box;
  padding: 30px 0px 30px 0px;
  width: 90%;
  flex-grow: 1;
  text-align: center;
  margin: 10px 0 0 0;
}


.bluetext{
  color: #40666D;
}

.contactcontainer{
  display: flex;

  height: 90px;

  justify-content: center;
  align-items: center;

}

.worktitle{
  height: 150px;
  box-sizing: border-box;
  padding-top: 40px;
  text-align: center;
}

.workphotocontainer{
  display: flex;
  flex-wrap: wrap;
}

.imgcontainer{
  font-size: 0;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 768px;
  margin: 0px 0px -1px 0px;
}

.workphoto{
  width: 100%;
}

.emailcontainer{
  display: flex;
  flex-direction: column;
  height: 244px;
  justify-content: space-around;
  align-items: center;
  /*align-items: center;*/
}

.calluscontainer{
  width: 90%;
}

.greenline{
  margin-top: 20px;
  background-color: #BDD436;
  height: 4px;
  width: 47px;
}

.bluebg{
  background-color: #40666D;
}


.locationcontainer{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.adressimg{
  display: inline-flex;
  justify-content: center;
  align-items: center;


  width: 50%;
  height: 40vh;
  background-size: cover;


}

#adressimg1{
  background-image: url("./img/wilmington.jpg");
}
#adressimg2{
  background-image: url("./img/ash.jpg");
}

.addresscontainer{
  font-size: 16px;
  color: white;
  background-color: #141E21;
  opacity: 0.85;
  padding: 25px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  width: 70%;
}

.addresscontainer>h3{
  color: #BDD436;
  font-size: 30px;
}


.copyrightcontainer{
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

/**************************** media query *************************************/

@media(min-width:768px){

  .introcontainer>p, .reasontext{
    font-size: 1.3rem;
  }

  .imgcontainer{
    max-width: 50vw;
  }

  .workshop{
    display: block;
    font-size: 12vh;
    line-height: 1.2;
  }

  .locationcontainer{
    display: flex;
  }

  .navcontainer{
    position: absolute;
    top: var(--header-height);
    display: flex;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0px 15vw 0px 15vw;

    font-family: 'Lato', sans-serif;
    background-color: white;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .woticon, .woticon-dark{
    height: 31px;
    width: 160px;

    background-image: url('./img/wot-logo-dark.svg');
    background-size: cover;
  }
}





/**************************** media query *************************************/

@media(min-width:1024px){

  .imgcontainer{
    max-width: 33vw;
  }

  a{
    color: white;
  }

  a:hover{
    border-bottom: 3px solid #BDD436;
  }


  .menubar{
    width: auto;
    display: inline-block;
  }

  .navcontainer{
    position: static;
    display: inline-flex;
    width: 40vw;
    height: 40px;
    padding: 0px 0px 0px 0px;

    flex-direction: row;
    align-items: space-around;
    justify-content: space-between;


    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: white;
  }

  .navcontainer>li:hover{
    border-bottom: 3px solid #BDD436;
  }

  .header{
    position: fixed;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1;
    --header-height: 50px;

    height: var(--header-height);
  }

  .woticon{
    height: 39px;
    width: 200px;


    background-image: url('img/title_wideopentech.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

}
